body {
  background-color:white;
}

.topBar {
  text-align: center;
  padding: 0;
  margin: 0;
}

.site-title {
  font-weight: bold; 
  font-family: 'Algerian';
  margin: 0;
  padding: 0;
}

.slogan {
  font-family:'Arial';
  margin: 0;
  padding: 0;
}

.filterButtons {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0px;
  justify-content: space-evenly;
  text-align: center;
  margin: 15px 300px;
  font-family: 'Raleway';
}

.selectType {
  background-color: lightblue;
  flex: 1;
  border-radius: 25px;
  margin: 0px 10px;
  padding: 5px;
}

.cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  float: left;
  margin: 0;
}

.animal-card {
  border: solid maroon;
  margin: 20px 60px 40px 60px;
  width: 300px;
  min-height: 400px;
  box-shadow: 5px 5px black;
  border-radius: 25px;
  color: black;
  font-family: 'Raleway';
}

.animal-header {
  margin: 0;
  padding: 0;
}

.animal-header img {
  width: 300px;
  height: 200px;
  margin: 0;
  padding: 0;
  border-radius: 25px 25px 0px 0px;
  border-bottom: solid lightcoral;
}

.animal-header h1 {
  text-align: center;
  background-color: maroon;
  margin: 0;
  padding: 0;
}

.desc {
  text-align: left;
  display: flex;
  margin: 0px 5px;
}